/* En tu archivo de estilos o en línea dentro del componente */
.slick-carousel {
  .slick-prev,
  .slick-next {
      font-size: 24px;
      color: #333;
  }

  .slick-dots {
      bottom: 20px;

      li {
          margin: 0 5px;
          button {
              font-size: 16px;
              color: #999;
          }
      }
  }
}